<div class="row">
  <div class="col-sm-1">
    <%= link_to "Delete", delete_item_path(@item.assettag), method: "delete", class: "btn btn-danger", data: { confirm: "Are you sure?" } %>
  </div>
  <div class="col-sm-6 col-sm-offset-2">
    <h2 align="center">
      <%= @item.assettag %>
    </h2>
  </div>
  <div class="col-sm-2 col-sm-offset-1" align="right">
    <%= link_to "Clone to new", clone_item_path(@item.assettag), class: "btn btn-default" %>
  </div>
</div>
<br/>
<div class="panel panel-default">
<%= form_for @item, url: update_item_path(params[:id]), method: :patch, html: { class: "", id: "" } do |f| %>
<div class="panel-body">
      <div align="center">
				<div class="row">
					<div class="col-sm-8 col-sm-offset-2">
						<%= f.label :assettag, "Asset Tag:" %>
						<%= f.text_field :assettag, class: 'form-control', value: @item.assettag, readonly: true %>
					</div>
				</div>
				<br/>
				<div class="row">
					<div class="col-sm-8 col-sm-offset-2">
						<%= f.select :category, options_for_select(["Barcode Scanners","Camera","Workstations","Laptops","Monitors","Printers","Phones","Peripherals","Routers","Switches","Servers","Tablet","Video Equip","Wireless Access Points"], selected: @item.category), {required: true}, class: "form-control" %>	
					</div>
				</div>
				<br/>
				<div class="row">
					<div class="col-sm-8 col-sm-offset-2">
					<%= f.select :division, options_for_select(Division.pluck(:name),selected: @item.division), {required: true}, class: "form-control"  %>	
					</div>
				</div>
				<br/>
				<div class="row">
					<div class="col-sm-8 col-sm-offset-2">
					<%= f.text_field :assigneduser, placeholder: "Assigned To", class: "form-control", required: true %>	
					</div>
				</div>
        <br/>
					<div class="panel-body">
						<div class="row">
							<div class="col-sm-4">
								<%= f.text_field :os, placeholder: "OS (if applicable)", class: 'form-control' %>
							</div>
							<div class="col-sm-4">
								<%= f.text_field :model, placeholder: "Asset Model", class: 'form-control' %>
							</div>
							<div class="col-sm-4">
								<%= f.text_field :brand, placeholder: "Brand", class: 'form-control' %>
							</div>
						</div>
						<br/>
						<div class="row">
							<div class="col-sm-4">
								<%= f.text_field :hostname, placeholder: "Hostname", class: 'form-control' %>
							</div>
							<div class="col-sm-4">
								<%= f.text_field :ponumber, placeholder: "PO Number", class: 'form-control' %>
							</div>
							<div class="col-sm-4">
								<%= f.text_field :servicetag, placeholder: "Service Tag", class: 'form-control' %>
							</div>
						</div>
						<br/>
						<div class="row">
							<div class="col-sm-4 col-sm-offset-4">
								<%= f.text_field :QATag, placeholder: "QA Tag Number", class: 'form-control' %>
							</div>
						</div>
						<br/><br/>
						<div class="row">
							<div class="col-sm-8 col-sm-offset-2">
								<%= f.text_area :notes, placeholder: "Notes", class: 'form-control' %>
							</div>
						</div>
					</div>
      			</div>
    		</div>
    </div>
		<div class="row">
			<div class="col-sm-4 col-sm-offset-4">
        		<%= f.submit "Update", class: "btn btn-success btn-block" %>
        	</div>
        </div>
		<% end %>
</div>